
* { margin: 0; box-sizing: border-box;}
body{ font-family: sans-serif; font-weight: bold; }
article { font-size: 3vw;}
h1, h2 { font-size: 1em; }
header {  padding: 1rem; align-self: center;}
a { color: currentColor; }
nav { margin-top: 1rem; display: flex; flex-direction: column; height: 100vh;}
.info-home{flex:1; display: flex; flex-direction: column; height:50%; justify-content: space-between; padding-bottom:4rem}

.body-class-home {
    margin-left: 50px;
}
.info-home a:hover {
    background-color: bisque;
}


.logo-crazy{
    font-family: picnic;
    font-size: 10vw; 
    color: #dc143c;
    height: 50%;
    display:flex;
      
}

@font-face {
font-family: "picnic";
src: url("../fonts/picnic.woff") format('woff');
}
  