/* 
  Les styles contenus dans ce fichier CSS sont uniquement destinés à homogénéiser 
  l’affichage typographique entre les différents exemples de mise en pages.
*/

* { margin: 0; box-sizing: border-box;}
body{ font-family: sans-serif; align-items: center;}
article {line-height: 1.05; margin: 20px auto 0 auto; max-width: 700px; line-height:1.2; margin-bottom: 1.4em;}
h1, h2 { font-size: 3em; padding: 1rem 1rem;}
header, main { padding: 1rem; }
a { color: currentColor; font-weight: bold; }
nav { margin-top: 1rem; display: flex; flex-direction: column; }
.info { margin: 1em 0; font-size: 1rem; }
h3 { font-size: 2em; border-bottom: solid 1px   #000000;}

/*------------ exemple: sticky header */
header {
  position: sticky; 
  top: 0;
  background: white;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
}
nav { flex-direction: row; }
nav a { padding-left: 1em; text-decoration:underline; }




.info-home{line-height: 2;}

.logo-crazy{
  font-family: picnic;
  font-size: 15vw; 
  color: crimson;

}
.info-home a:hover {
  background-color: bisque;
}

.info-crazy-logo{
  font-family: picnic;
  font-size: 2rem; 
  
}


@font-face {
  font-family: "picnic";
  src: url("../fonts/picnic.woff") format('woff');
}


.projects-container{
    align-items: center; 
    width: 100%;
    justify-content: space-between;

}
.projects-container img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-self: center;
    padding-top: 2vw;
    padding-bottom:2vw;

}

