* { box-sizing: border-box; }
body { 
  display: grid; 
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  grid-template-columns: 1fr 1fr 1fr;
}
nav { margin-top: 1rem; display: flex; flex-direction: column; }
header {
  grid-column: span 3;
  padding: 1rem;
  position: sticky; 
  top: 0;
  background: white;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
}
nav { flex-direction: row; }
nav a { padding-left: 1em;}
.info-crazy-logo{
  font-family: picnic;
  font-size: 2rem; 
  
}
.images {
  /* grid-column: span 1; */
  width: 33.33vw;
  background: #000;
  align-self: flex-start;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: -1;
  padding: 2em;
  display: flex;
  align-items:center;
  justify-content:center;
}
.images img{
  position: absolute;
  opacity: 0;
  transition: opacity 250ms;
  max-width: calc(100% - 4em);
}
.images img.visible{
  opacity: 1;
}
.text {
  grid-column: 2/ span 2;
  flex:1;
  background: #eee;
  padding: 2em;
  font-size: 3vw;
  line-height: 1.1;
  /* margin-left: 33.33vw; */
  /* padding-left: calc(33.33vw + 2em);  */
  /* équivalent à la largeur de .images */
  /* position: relative; */
}


p { margin: 0; }
p + p { text-indent: 2em; }
code { font-family: inherit; color: #666;}
code::before {content: "[";}
code::after {content: "]";}
a { color: currentColor; }


@font-face {
  font-family: "picnic";
  src: url("../fonts/picnic.woff") format('woff');
}

