/* 
  Les styles contenus dans ce fichier CSS sont uniquement destinés à homogénéiser 
  l’affichage typographique entre les différents exemples de mise en pages.
*/

* { margin: 0; box-sizing: border-box;}
body{ font-family: sans-serif; font-weight: bold; }
article { font-size: 3vw; line-height: 1.05; }
h1, h2 { font-size: 1em; }
header {  padding: 1rem; }
a { color: currentColor; }
nav { margin-top: 1rem; display: flex; flex-direction: column; }
.info { margin: 1em 0; font-size: 1rem; }
/* article p { display: inline;} */
/* article p::before {content:"¶ "; color: crimson;} */
article p::before {content:"۞ "; color: crimson;}


main p { padding-left: 1rem; margin: 1rem; display: inline-block;}

/*------------ exemple: sticky header */
.typography-sticky header {
  position: sticky; 
  top: 0;
  background: white;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
}
.typography-sticky nav { flex-direction: row; }
.typography-sticky nav a { padding-left: 1em;}


.body-class-home {
    margin: 50px;
}
.info-home{line-height: 2;}

.logo-crazy{
  font-family: picnic;
  font-size: 10vw; 
  color: #dc143c;

}
.info-home a:hover {
  background-color: bisque;
}

.info-crazy-logo{
  font-family: picnic;
  font-size: 2rem; 
  
}

 img {
  width: 100vw;
  display: block;
}

@font-face {
  font-family: "picnic";
  src: url("../fonts/picnic.woff") format('woff');
}

.cassette .grille {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  align-items: center; /* aligne horizontalement les images */
  grid-auto-flow: dense; /* autorise le réagencement de l’ordre des images pour “densifier” la grille */
  padding-left: 1rem; margin: 1rem;   
}

.cassette img {
  width: 100%;
  display: block;
}
.cassette .landscape { grid-column: span 2; }

.cassette header {
  position: sticky; 
  top: 0;
  background: white;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
}

.cassette nav { flex-direction: row; }
.cassette nav a { padding-left: 1em;}


.projects-container img {
  width: 10%;
  display: block;
}

